<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Health Guru Ecommerce</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', :root %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a href="#">Signed in as <%= current_user.email %></a></li>
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
